body{
    padding: 0;
    margin: 0;
    background: black;
}


ul{
    margin: 0;
    padding: 0;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    
}

ul li{
    list-style: none;
    width: 50px;
    height: 50px;
    border-radius: 45%;
    margin: 2px;
    animation: animate 2s ease-in-out infinite;
    
}

@keyframes animate {
    0%, 50%, 60%, 80%, 100%
    {
        transform: scale(0.2);
    }

    20%{
        transform: scale(1);
    }

    
}

ul li:nth-child(1){
    animation-delay: -1.2s;
    background-color: cadetblue;
    box-shadow: 0 0 50px cadetblue;
}
ul li:nth-child(2){
    animation-delay: -1.4s;
    background-color: rgb(61, 66, 66);
    box-shadow: 0 0 50px rgb(61, 66, 66); ;
}
ul li:nth-child(3){
    animation-delay: -1.6s;
    background-color: rgb(130, 189, 140);
    box-shadow: 0 0 50px rgb(130, 189, 140) ;
}
ul li:nth-child(4){
    animation-delay: -1.8s;
    background-color: rgb(58, 61, 18);
    box-shadow:  0 0 50px rgb(58, 61, 18);
}
ul li:nth-child(5){
    animation-delay: -2s;
    background-color: rgb(44, 54, 139);
    box-shadow: 0 0 50px rgb(44, 54, 139) ;
}
ul li:nth-child(6){
    animation-delay: -2.2s;
    background-color: rgb(91, 22, 97);
    box-shadow: 0 0 50px rgb(91, 22, 97);
}
ul li:nth-child(7){
    animation-delay: -2.4s;
    background-color: rgb(41, 12, 16);
    box-shadow: 0 0 rgb(41, 12, 16);
}
ul li:nth-child(8){
    animation-delay: -2.6s;
    background-color: rgb(187, 168, 168);
    box-shadow:  0 0 rgb(187, 168, 168);
}
